.navContainer{
height: 9vh;
width: 100%;
background-color: maroon;
color:  white;
padding: 0px 25px;
display: flex;
align-items: center;
justify-content: space-between;
}

.logoDiv{
width: 30%;
}
.searchDiv{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fa-magnifying-glass{
    border: 1px solid teal;
    background-color: teal;
    padding: 7px 7px;
    border-radius: 2px;
    margin-right: 7rem;
}
.linkDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}
.button{
    padding: 2px 15px;
    background-color: teal;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.searchInput{
    outline:0;
    padding:5px 20px;
    border-radius:5px; 
    color:grey;
    width:80%;
    display:block;
    margin:auto
}




@media screen and (max-width:992px){
    .searchDiv{
        width: 50%;
    }
    .searchInput{
        width: 100%;
    }
    .linkDiv{
        width: 30%;
    }
    .button{
        font-size: 15px;
    }
 
}
@media screen and (max-width:726px){
    .searchDiv{
        width: 60%;
    }
    .searchInput{
        width: 100%;
    }
    .linkDiv{
        width: 40%;
    }
    .button{
        font-size: 12px;
    }
    .fa-magnifying-glass{
        display: none;
    }
}
@media screen and (max-width:500px){
    .searchDiv{
        display: none;
    }
    .searchInput{
     display: none;
    }
}
@media screen and (max-width : 412px){
    .navContainer{
        width: 100%;
    }
    .logoDiv{
        width: 40%;
        }
        .linkDiv{
            width:70%
        }
}